<div class="row row-no-gutters footer" id="bottom-footer" >


  <div class="col-xs-12 col-md-5 text-center" >
    <ul class="vertical-links small">
      <li class="gitlab"><img src="../../../../assets/img/gitlab.png" style=""width="5%"><a href="https://gitlab.com/mahauda/courses-virtual-teacher" target="_blank">Gitlab repository</a></li>
    </ul>
  </div>
  <div class="col-xs-12 col-md-2 text-center" >
    <p><i class="fa fa-heart-o" aria-hidden="true"></i></p>
  </div>
  <div class="col-xs-12 col-md-5 text-center" >
    <ul>
      <li class="small">© Copyright 2020 Website by <a href="#" style="color:white;font-weight:500;">Developers</a>. All Rights reserved.</li>
    </ul>
  </div>

</div>
