<div class="container" style="margin-top: 12%;margin-left: 22%;">
  <div class="row" >
    <div class="col-md-2">
      <button style="height: 300px;width:100%" type="button" class="btn btn-default" (click)="RedirectToAccounts()">Voir mes comptes</button>
    </div>
    <div class="col-md-2">
      <button style="height: 300px;width:100%" type="button" class="btn btn-default" (click)="RedirectToCourses()">Voir mes cours</button>
    </div>
    <div class="col-md-2">
      <button style="height: 300px;width:100%" type="button" class="btn btn-default" (click)="RedirectToStructures()">Voir mes structures</button>
    </div>
    <div class="col-md-2">
      <button style="height: 300px;width:100%" type="button" class="btn btn-default" (click)="RedirectToTasks()">Voir mes taches</button>
    </div>
    <div class="col-md-2">
      <button style="height: 300px;width:100%" type="button" class="btn btn-default" (click)="RedirectToMails()">Voir mes mails</button>
    </div>
  </div>
</div>
