<!-- https://code-maze.com/angular-material-form-validation/ -->

<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <mat-card fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" [style.width.px]=800>
        <mat-card-title>Compte</mat-card-title>
        <form [formGroup]="accountForm" autocomplete="off" novalidate (ngSubmit)="onSubmit(accountForm.value)"
            fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
            <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">

                <mat-form-field fxFlex [style.width.px]=600>
                    <mat-label>Role</mat-label>

                    <mat-select [(ngModel)]="user.role" formControlName="role" *ngIf="TestIsAdmin()">
                        <mat-option *ngFor="let type of typesUsersOptions" [value]="type">
                            {{typesUsers[type]}}
                        </mat-option>
                    </mat-select>
                  <mat-select [(ngModel)]="user.role" formControlName="role" *ngIf="TestIsTeacher() || TestIsStudent() " [disabled]>
                    <mat-option [value]="user.role">
                      {{typesUsers[user.role]}}
                    </mat-option>
                  </mat-select>

                    <mat-error *ngIf="hasError('role', 'required')">
                        Le role est requis
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex [style.width.px]=600>
                    <mat-label>Nom</mat-label>
                    <input [(ngModel)]="user.lastname" matInput type="text" placeholder="Nom" formControlName="lastname"
                        id="lastname" (focus)="focusStatename = true" (focusout)="focusStatename = false">
                    <mat-hint align="end" *ngIf="focusStatename">80 caractères maximum</mat-hint>
                    <mat-error *ngIf="hasError('lastname', 'required')">Nom requis</mat-error>
                    <mat-error *ngIf="hasError('lastname', 'maxlength')">80 caractères maximum</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex [style.width.px]=600>
                    <mat-label>Prénom</mat-label>
                    <input [(ngModel)]="user.firstname" matInput type="text" placeholder="Prénom"
                        formControlName="firstname" id="firstname" (focus)="focusStatefirst = true"
                        (focusout)="focusStatefirst = false">
                    <mat-hint align="end" *ngIf="focusStatefirst">80 caractères maximum</mat-hint>
                    <mat-error *ngIf="hasError('firstname', 'required')">Prénom requis</mat-error>
                    <mat-error *ngIf="hasError('firstname', 'maxlength')">80 caractères maximum</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex [style.width.px]=600>
                    <input [(ngModel)]="user.birth" matInput [matDatepicker]="picker" [max]="tomorrow"
                        placeholder="Date de naissance" formControlName="birth" id="birth" readonly
                        (click)="picker.open()">
                    <mat-icon matSuffix>calendar_today</mat-icon>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="hasError('birth', 'required')">Date de naissance requis</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex [style.width.px]=600>
                    <mat-label>Téléphone</mat-label>
                    <input [(ngModel)]="user.phone" matInput type="text" placeholder="Téléphone" formControlName="phone"
                        id="phone" (focus)="focusStatephone = true" (focusout)="focusStatephone = false">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-hint align="end" *ngIf="focusStatephone">10 chiffres</mat-hint>
                    <mat-error *ngIf="hasError('phone', 'required')">Télépone requis</mat-error>
                    <mat-error *ngIf="hasError('phone', 'pattern')">Le format n'est pas respecté</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex [style.width.px]=600>
                    <mat-label>Adresse</mat-label>
                    <input [(ngModel)]="user.address" matInput type="text" placeholder="Adresse"
                        formControlName="address" id="address" (focus)="focusStateaddr = true"
                        (focusout)="focusStateaddr = false">
                    <mat-icon matSuffix>home</mat-icon>
                    <mat-hint align="end" *ngIf="focusStatefirst">80 caractères maximum</mat-hint>
                    <mat-error *ngIf="hasError('address', 'required')">Adresse requis</mat-error>
                    <mat-error *ngIf="hasError('address', 'maxlength')">80 caractères maximum</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex [style.width.px]=600>
                    <mat-label>Email</mat-label>
                    <input [(ngModel)]="user.email" matInput type="email" placeholder="Email" formControlName="email"
                        id="email" (focus)="focusStatemail = true" (focusout)="focusStatemail = false">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-hint align="end" *ngIf="focusStatemail">80 caractères maximum</mat-hint>
                    <mat-error *ngIf="hasError('email', 'required')">Email requis</mat-error>
                    <mat-error *ngIf="hasError('email', 'maxlength')">80 caractères maximum</mat-error>
                    <mat-error *ngIf="hasError('email', 'email')">Le format n'est pas respecté</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex [style.width.px]=600>
                    <mat-label>Identifiant</mat-label>
                    <input [(ngModel)]="user.username" matInput type="text" placeholder="Identifiant"
                        formControlName="username" id="username" (focus)="focusStateid = true"
                        (focusout)="focusStateid = false">
                    <mat-icon matSuffix>account_box</mat-icon>
                    <mat-hint align="end" *ngIf="focusStateid">Entre 8 et 20 caractères</mat-hint>
                    <mat-error *ngIf="hasError('username', 'required')">Identifiant requis</mat-error>
                    <mat-error *ngIf="hasError('username', 'minlength')">8 caractères minimum</mat-error>
                    <mat-error *ngIf="hasError('username', 'maxlength')">20 caractères maximum</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex [style.width.px]=600>
                    <mat-label>Mot de passe</mat-label>
                    <input matInput type="password" placeholder="Mot de passe" formControlName="password" id="password"
                        (focus)="focusStatepass = true" (focusout)="focusStatepass = false">
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-hint align="end" *ngIf="focusStatepass">Votre mot de passe doit comporter un minimum de 8
                        caractères, se composer de chiffres et de lettres et comprendre des majuscules/minuscules ou des
                        caractères spéciaux.
                    </mat-hint>
                    <mat-error *ngIf="hasError('password', 'required')">Mot de passe requis</mat-error>
                    <mat-error *ngIf="hasError('password', 'minlength')">8 caractères minimum</mat-error>
                    <mat-error *ngIf="hasError('password', 'maxlength')">20 caractères maximum</mat-error>
                    <mat-error *ngIf="hasError('password', 'pattern')">Le format n'est pas respecté</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex [style.width.px]=600>
                    <mat-label>Confirmer le mot de passe</mat-label>
                    <input matInput type="password" placeholder="Confirmer le mot de passe"
                        formControlName="confirmPassword" id="confirmPassword" (focus)="focusStateconfirm = true"
                        (focusout)="focusStateconfirm = false">
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-hint align="end" *ngIf="focusStateconfirm">Votre mot de passe doit etre compris entre 8 et 20
                        caractères, se composer de chiffres, de lettres, comprendre des majuscules/minuscules et de
                        caractères spéciaux.
                    </mat-hint>
                    <mat-error *ngIf="hasError('confirmPassword', 'required')">Confirmation du mot de passe requis
                    </mat-error>
                    <mat-error *ngIf="hasError('confirmPassword', 'minlength')">8 caracteres minimum</mat-error>
                    <mat-error *ngIf="hasError('confirmPassword', 'maxlength')">20 caracteres maximum</mat-error>
                    <mat-error *ngIf="hasError('confirmPassword', 'pattern')">Le format n'est pas respecté</mat-error>
                </mat-form-field>

            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center center" >
                <button mat-raised-button color="primary" [disabled]="!accountForm.valid">Sauvegarder</button>
              <button mat-raised-button color="primary" (click)="ToDashboar()" >Annuler</button>
            </mat-card-actions>
        </form>
    </mat-card>
</section>
