<h1 class="text-center" style="margin-top: 50px">Bienvenue à la plateforme d'enseignement à distance de l'Université d'Angers</h1>

<div class="container" style="min-height: 100%; margin-top: 200px">
  <div class="row">
      <div class="col-md-4">
        <button style="height: 300px;width:100%" type="button" class="btn btn-default" (click)="RedirectToLogin()">Administrateur</button>
      </div>
      <div class="col-md-4">
        <button style="height: 300px;width:100%" type="button" class="btn btn-default" (click)="RedirectToLogin()">Enseignant</button>
      </div>
      <div class="col-md-4">
        <button style="height: 300px;width:100%" type="button" class="btn btn-default" (click)="RedirectToLogin()">Etudiant</button>
      </div>
    </div>
</div>
